@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";


.test{
    background-color:red;
    .aa{
        color:red;
    }
    .bb{
        color:yellow;
        transform:rotate(30deg);
    }
    .cc{
        color:green;
        font-size:22px;
    }
}
